<li>
	{{name}}  
    <button class="article-saved" data-id="{{this.id}}" data-isSaved="{{Saved}}">
    </button>
</li>


   {{!-- <div class="col4">
      <h2>Saved Articles</h2>
      <ul>
        {{#each article}}
        {{#if devoured}}
        {{> burgers/burger-devoured devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div> --}}
